@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(90deg, #645E9D, #392B58);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #2D0320;
    width: 600px;
    padding: 10px;
    margin: auto
}

h1{
    color: #6C969D;
    text-align: center;
    text-shadow: 1px 1px 2px #4a666b9d;
}
h2{
    color: #392B58;
}
p{
    text-align: justify;
}